<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__logo"><a href="#"></a></div>
            <nav class="header__nav nav">
                <% nav.forEach((e)=>{ %>
                    <% if(e.l=="ALL" || (e.l=="LOGED" && User.authorized) || (e.l=="UNLOGED" && !User.authorized)) { %>
                    <li class="nav__p button"><a href="<%= e.url %>">
                            <%= e.text %>
                        </a></li>
                <% }}) %>
            </nav>
        </header>