<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="logo"><a href="#"></a></div>
        <nav>
<!--            <% nav.forEach((e)=>{ %>-->
<!--            <li><a href="<%= e.url %>"><%= e.text %></a></li>-->
<!--            <% }) %>-->
        </nav>
    </header>
